.layout {
  height: 100%;
}

.main {
  padding-top: var(--topbar-h);
  height: 100vh;
  overflow-y: auto;
}

@media (min-width: 769px) {
  .main {
    padding-top: 0;
    padding-left: var(--sidebar-w);
  }
}
